.UserOutput {
    text-align: center;
    border: 1px solid #2e151b;
    margin: 3px;
    box-shadow: inset 0 0 10px #1c3334;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #386e6f;
    color: white;
}